# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
_openmp_mutex
absl-py
blas
bottleneck
bzip2
ca-certificates
certifi
configargparse
cudatoolkit
cycler
ffmpeg
freetype
giflib
gmp
gnutls
grpcio
imageio
imageio-ffmpeg
intel-openmp
jpeg=9d
kiwisolver
lame=3.100
lcms2=2.12
ld_impl_linux-64
libffi=3.3
libgcc-ng
libgfortran-ng
libgfortran4
libgomp=9.3.0
libiconv=1.15
libidn2=2.3.2
libpng=1.6.37
libstdcxx-ng
libtasn1
libtiff
libunistring
libuv
libwebp
libwebp-base
lietorch
lz4-c
markdown
matplotlib
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nettle
networkx
numexpr
numpy
numpy-base
olefile
opencv-contrib-python
opencv-python
openh264
openssl
pandas
pillow
pip
protobuf
pyparsing
python
python-dateutil
pytorch
pytorch-mutex
pytz
pywavelets
pyyaml
readline
scikit-image
scipy
setuptools
six
sqlite
tensorboard
tifffile
tk
torch
torchaudio
torchtyping
torchvision
tqdm
typeguard
typing_extensions
tzdata
werkzeug
wheel
xz
yaml
zlib
zstd
