<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://use.fontawesome.com/ee3c28688e.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <div class="container-fluid px-0 mx-0">
      <header class="page-header align-items-center" role="banner">
        <div class="row">
          <div class="mx-auto col-10 pb-3 pt-3">
            <a href="/#" class="text-white"><h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1></a>
          </div>
        </div>
        <div class="row justify-content-center">
          {% for person in site.authors %}
            <div class="col-auto py-2">
              <a class="text-white author-name" href={{person.website}}>{{person.name}}</a>
            </div>
          {% endfor %}
        </div>

        <div class="row justify-content-center pt-3">
            <div class="col-auto">
              <small>* denotes equal contribution</small>
            </div>
            <div class="col-auto">
              <p> Stanford University </p>
            </div>
          </div>

        <div class="row justify-content-center">
          <div class="col-auto mx-4">
            <div class="row justify-content-center">
              <a class="icon" href="paper"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
            <div class="row justify-content-center">
              <a class="text-white" href="paper">Paper</a>
            </div>
          </div>
          <div class="col-auto mx-4">
            <div class="row justify-content-center">
              <a class="icon" href="https://github.com/mikh3x4/nerf-navigation"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
            <div class="row justify-content-center">
              <a class="text-white" href="paper">Code</a>
            </div>
          </div>
          <div class="col-auto mx-4">
            <a class="icon" href="data"><i class="fa fa-database" aria-hidden="true"></i></a>
            <div class="row justify-content-center">
              <a class="text-white" href="paper">Data</a>
            </div>
          </div>
        </div>
      </header>

      <main id="content" class="main-content container-fluid" role="main">
        <div class="row justify-content-center">
          <div class="col-10 col-md-12">
            {{ content }}
          </div>
        </div>

        <footer class="site-footer">
          {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          {% endif %}
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
      </main>
    </div>
  </body>
</html>
